@model  PagedList.IPagedList<ShopOnlineConnection.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>View All Products</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="@Url.Action("Details", new { id = @item.MaSanPham })" class="prod-img">
                            <img src="/Asset/images/@item.HinhChinh" class="img-fluid" alt="Free html5 bootstrap 4 template">
                        </a>
                        <div class="desc">
                            <h2><a href="@Url.Action("Details", new { id = @item.MaSanPham })">@item.TenSanPham</a></h2>
                            <span class="price">@item.Gia VNĐ</span>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block-27">
                    <ul>
                        <li>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
        </div>
    </div>
</div>

