@model PagedList.IPagedList<ShopOnlineConnection.LoaiSanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainAdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-QAB4nITGTLn1iM2QX9TzakOfMYMnQCw1ZmQATrxAemClmNSFmry+N54mWT0aP9o/pFsgtG0EJwY5Z5v5mdAezw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .table-container {
            margin: 0 auto;
            width: 80%;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
        }

        .product-table {
            width: 100%;
            border-collapse: collapse;
        }

            .product-table tr {
                border-bottom: 1px solid #ccc;
            }

            .product-table th,
            .product-table td {
                padding: 10px;
                text-align: left;
            }

                .product-table th:last-child,
                .product-table td:last-child {
                    text-align: center;
                }

                .product-table th:first-child,
                .product-table td:first-child {
                    width: 10%;
                }

                .product-table th:nth-child(2),
                .product-table td:nth-child(2) {
                    width: 50%;
                }

                .product-table th:nth-child(3),
                .product-table td:nth-child(3) {
                    width: 20%;
                }

                .product-table th:last-child,
                .product-table td:last-child {
                    width: 20%;
                }

        .edit-btn,
        .delete-btn {
            display: inline-block;
            margin-right: 10px;
        }

            .edit-btn i,
            .delete-btn i {
                color: #0066CC;
                font-size: 16px;
            }

        .add-product {
            text-align: left;
            margin-top: 20px;
        }

            .add-product a {
                display: inline-block;
                padding: 10px 20px;
                background-color: #0066CC;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
            }
    </style>
</head>

<div class="table-container">
    <h2>Quản lý loại sản phẩm</h2>
    <div class="add-product">
        <a href="@Url.Action("Create", "LoaiSanPham2")"><i class="fas fa-plus"></i> Add</a>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th>Mã Loại SP</th>
                <th>Tên Loại sản phẩm</th>
                <th>Tình trạng</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaLoaiSanPham</td>
                    <td>@item.TenLoaiSanPham</td>
                    <td>@item.TinhTrang</td>
                    <td>
                        <a href="@Url.Action("Edit","LoaiSanPham2",new {id = @item.MaLoaiSanPham})" class="edit-btn"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("XoaTamThoi","LoaiSanPham2",new {id = @item.MaLoaiSanPham})" class="delete-btn"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block-27">
                <ul>
                    <li>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- Animate.css -->
<link rel="stylesheet" href="/Asset/css/animate.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="/Asset/css/bootstrap.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="/Asset/css/magnific-popup.css">
<!-- Flexslider  -->
<link rel="stylesheet" href="/Asset/css/flexslider.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="/Asset/css/owl.carousel.min.css">
<link rel="stylesheet" href="/Asset/css/owl.theme.default.min.css">

<!-- Date Picker -->
<link rel="stylesheet" href="/Asset/css/bootstrap-datepicker.css">
<!-- Flaticons  -->
<link rel="stylesheet" href="/Asset/fonts/flaticon/font/flaticon.css">
<!-- Theme style  -->
<link rel="stylesheet" href="/Asset/css/style.css">

