@model PagedList.IPagedList<ShopOnlineConnection.AspNetUser>
@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainAdminLayout.cshtml";
}


<head>
    <style>
        .table-container {
            margin: 0 auto;
            width: 80%;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
        }

        .product-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .product-table tr {
                border-bottom: 1px solid #ccc;
            }

            .product-table th,
            .product-table td {
                padding: 10px;
                text-align: left;
            }

                .product-table th:last-child,
                .product-table td:last-child {
                    text-align: center;
                }

                .product-table th:first-child,
                .product-table td:first-child {
                    width: 10%;
                }

                .product-table th:nth-child(2),
                .product-table td:nth-child(2) {
                    width: 50%;
                }

                .product-table th:nth-child(3),
                .product-table td:nth-child(3) {
                    width: 20%;
                }

                .product-table th:last-child,
                .product-table td:last-child {
                    width: 20%;
                }

        .edit-btn,
        .delete-btn {
            display: inline-block;
            margin-right: 10px;
        }

            .edit-btn i,
            .delete-btn i {
                color: #0066CC;
                font-size: 16px;
            }

        .add-product {
            text-align: left;
            margin-top: 20px;
        }

            .add-product a {
                display: inline-block;
                padding: 10px 20px;
                background-color: #0066CC;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
            }
    </style>
</head>

<div class="table-container">
    <h2>Quản lý Khách hàng</h2>
    <div class="add-product">
        <a href="@Url.Action("Create","NhaSanXuat2")">Thêm Khách hàng</a>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Khách Hàng</th>
                <th>Email</th>
                <th style="width: 10%;">Emal Confirm</th>
                <th>Khóa</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        String UserName = item.UserName.Split('@')[0];
                    }
                    <td><input value="@item.Id" readonly style="width: 150px" /></td>
                    <td>@UserName</td>
                    <td>@item.Email</td>
                    <td style="text-align: center;">@item.EmailConfirmed</td>
                    @{
                        var status = "";
                        if (item.LockoutEnabled && item.LockoutEndDateUtc != null)
                        {
                            status = "Khóa";
                        }
                        else
                        {
                            status = "Mở khóa";
                        }

                    }
                    <td>@status</td>
                    <td>
                        <a href="@Url.Action("Edit","Khachhang",new {id = @item.Id})" class="edit-btn"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("KhoaTaiKhoan","Khachhang", new {id = @item.Id})" onclick="return confirm('Bạn có chắc chắn muốn khóa khách hàng này?');" class="delete-btn"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block-27">
                <ul>
                    <li>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</li>
                </ul>

            </div>
        </div>
    </div>
</div>



